/*
 * nbn.dialog.css
 * ダイアログスタイル
 */

 .nbn-dialog                     , .nbn-dialog-head,
 .nbn-dialog-head-closer         , .nbn-dialog-main,
 .nbn-dialog-main-username-title , .nbn-dialog-main-username-textbox,
 .nbn-dialog-main-passward-title , .nbn-dialog-main-passward-textbox,
 .nbn-dialog-main-button-ok      , .nbn-dialog-main-button-cancel
 {
   position: absolute;
 }

.nbn-dialog {
  margin-top : -200px;
  margin-left : -200px;
  top : 50%;
  left : 50%;
  width : 400px;
  height : 400px;
  border-radius : 3px;
  z-index : 2;
  background : #85B0FF;
}

 .nbn-dialog-head {
   top    : 0;
   left   : 0;
   right  : 0;
   height : 40px;
 }

 .nbn-dialog-head-closer {
   top    : 4px;
   right  : 4px;
   width  : 32px;
   height : 32px;
   text-align: center;
   cursor: pointer;
   border-radius: 8px;
   background : #705AA3;
 }
 .nbn-dialog-closer:hover{
   background-color: #E63C41;
 }


 .nbn-dialog-main {
   top    : 40px;
   left   : 0;
   right  : 0;
   bottom : 0;
 }

.nbn-dialog-main-username-title {
  top    : 40px;
  left   : 20px;
  right  : 20px;
  font-size: 25px;
}

.nbn-dialog-main-username-textbox {
  top    : 80px;
  left   : 20px;
  height : 40px;
  width: 280px;
  font-size: 35px;
}

.nbn-dialog-main-passward-title {
  top    : 140px;
  left   : 20px;
  right  : 20px;
  font-size: 25px;
}

.nbn-dialog-main-passward-textbox {
  top    : 180px;
  left   : 20px;
  height : 40px;
  width: 280px;
  font-size: 35px;
}

.nbn-dialog-main-button-ok{
  top    : 260px;
  left   : 40px;
  width  : 130px;
  line-height: 40px;
  font-size: 35px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.nbn-dialog-main-button-ok:hover{
  background-color: red;
}

.nbn-dialog-main-button-cancel{
  top    : 260px;
  left   : 220px;
  width  : 130px;
  line-height : 40px;
  font-size: 35px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #E6E6FA;
}
.nbn-dialog-main-button-cancel:hover{
  background-color: red;
}
