/*
 * nbn.dialogMenu.css
 * ダイアログスタイル
 */

 .nbn-dialogMenu,
 .nbn-dialogMenu-head,
 .nbn-dialogMenu-head-closer,
 .nbn-dialogMenu-main
 {
   position: absolute;
 }

.nbn-dialogMenu {
  margin-top : -200px;
  margin-left : -200px;
  top : 50%;
  left : 50%;
  width : 400px;
  height : 400px;
  border-radius : 3px;
  z-index : 2;
  background : #85B0FF;
  position:fixed;
}


@media screen and (max-width:768px) {
  .nbn-dialogMenu{

    border: 10px groove  tomato;
  }
}




.nbn-dialogMenu-head {
  top    : 0;
  left   : 0;
  right  : 0;
  height : 40px;
}

.nbn-dialogMenu-head-closer {
  top    : 4px;
  right  : 4px;
  width  : 32px;
  height : 32px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background : #705AA3;
}

.nbn-dialogMenu-main {
   top    : 40px;
   left   : 20px;
   right  : 0;
   bottom : 0;
 }

.nbn-dialogMenu-find {
  font-size: 25px;
}

.nbn-dialogMenu-upload {
  font-size: 25px;
}
